<div class="post-header">
  <div class="post-title">
    <%- page.title %>
  </div>
  <div class="tags">
        <%- tagcloud({min_font: 16, max_font: 32, amount: 200, color: true, start_color: '#666666', end_color: '#212121'}) %>
      </div>
    </div>
</div>
